
body, h1, nav, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo img {
    width: 150px;
    height: auto;
}

.banner img {
    width: 70%;
    height: auto;
    display: block;
}


.navigation-menu {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

.navigation-menu li {
    display: inline-block;
    margin-right: 20px;
}

.navigation-menu li:last-child {
    margin-right: 0;
}

.navigation-menu a {
    color: rgb(113, 95, 95);
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.navigation-menu a:hover {
    background-color: #555;
}


.services {
    padding: 20px;
    background-color: #cb7171;
}

.services img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

.footer-navigation {
    padding: 0;
}

.footer-navigation li {
    display: inline-block;
    margin-right: 20px;
}

.footer-navigation li:last-child {
    margin-right: 0;
}

.footer-navigation a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
}

.footer-navigation a:hover {
    text-decoration: underline;
}
